<h2>Add product</h2>

<form action="/products" method="post">
  <div class="form-row">
    <label for="">Name</label>
    <input type="text" name="name" required>
  </div>
  <div class="form-row">
    <label for="">Price</label>
    <input type="text" name="price">
  </div>
  <div class="form-row">
      <label for="">Img</label>
      <input type="text" name="imageURL">
  </div> 
  <input type="submit" value="add">
</form>